/* Fonts */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #191919;
}

h1{
    font-family: 'Handjet', sans-serif;
    font-size: clamp(4rem, 8vw, 10rem);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 4.142px;
    margin-top: 5rem;
    text-align: center;

    background: linear-gradient(90deg, #DFAAC3 24.34%, #F1C9DB 41.54%, #D3B9E8 64.8%, #997DC3 75.56%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

h2{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: justify;
    flex-shrink: 0;
    text-align: center;
    font-family: var(--Inside-Text, "Averia Serif Libre");
    font-size: 85px;
    font-style: normal;
    font-weight: 2000;
    line-height: 100%;
    letter-spacing: 5px;
    
    background-color: #191919;
    color: transparent;
    text-shadow: -1px 1px 3.5px rgba(216, 182, 247, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

p{
    color: #4a4545;
    text-align: justify;
    font-family: 'NanumGothicCoding', monospace;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 150%;
    margin: 20px;
}


#introduction-text{
	color: #8F7C49;
    text-align: center;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1px;

    transform: translateY(50px); 
    animation: slideUp 2s ease forwards; 
}

/* Format */
/* introduction-home Container */
.introduction-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.content-container{
    display: flex;
    flex-direction: column;

    justify-content: center;

    width: 100%;
    height: auto;
    padding: 5rem;

    background-color: #e8c2d3;
}



.learn-more-button{
    color: white;
    border-radius: 10px;
    background: var(--Button, linear-gradient(90deg, rgba(222, 206, 247, 0.90) 3.7%, rgba(247, 196, 220, 0.90) 99.93%));
    box-shadow: 2px 4px 8px 0px rgba(65, 52, 52, 0.3);
    display: flex;
    width: 160px;
    height: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* flex-shrink: 0; */
}

/* Slide Shows */
.slideshow-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}


.slides {
    display: none; /* hides slides by default */
    width: 100%; /* ensures each slide fills the container */
    height: 100%;
    text-align: center;
}

.slides.active {
    display: block;
}

/* Center the images within each slide */
.slides img {
    width: 100%; /* scales image to container width */
    height: 100%; /* scales image to container height */
    object-fit: cover; /* crops image to fit container without distortion */
    clip-path: inset(80px 10px 80px 0); /* keeps the clipping effect */
    display: block;
    margin: 0 auto;
}

/* Style for the navigation buttons */
.navigation-button {
    background-color: transparent;
    position: absolute;
    top: 50%;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.left-button{
    left: 15%;
    position:absolute;
}

.right-button {
    right: 15%;
    position:absolute;
}

/* Center the navigation dots */
.navigation-dots {
    text-align: center;
    margin-top: -60px;
}

/* Style each dot */
.dots {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dots.active {
    background-color: #717171;
}
