/* Fonts */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rasa", serif;
    font-style: normal;
}

body{
    background-color: #191919;
}

h1{
    background: linear-gradient(90deg, #DFAAC3 24.34%, #F1C9DB 41.54%, #D3B9E8 64.8%, #997DC3 75.56%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    font-family: 'Handjet', sans-serif;
    font-style: normal;
    font-size: clamp(4rem, 8vw, 10rem);

    font-weight: 600;
    line-height: 120%;
    letter-spacing: 4.142px;
    text-align: center;
}

h2{
    color: #e8c2d3;
 
    font-family: "Rasa", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: clamp(2rem, 6vw, 5.3rem);
 
    justify-content: justify;
    text-align: center;
 
    font-weight: 2000;
    line-height: 100%;
    letter-spacing: 5px;
}


/* 5 */
h3 {
    color: #DFAAC3;
    text-align: center;
    font-family: 'NanumGothicCoding', monospace;
    font-size: 23.5px;
    font-weight: 1000;
    line-height: 30px; /* Ensures line height matches the font size */
    letter-spacing: 1.0px;
    margin: 0;
    white-space: nowrap;  /* Keeps the text on a single line */
    max-width: 100%;
    padding: 20px 0;
}


p{
    color: #fff2f2;

    font-size: clamp(0.875rem, 3vw, 1.5rem);
    line-height: clamp(35px, 4vw, 50px);
    letter-spacing: 2px;
    text-align: center;
}


.content-container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;
    margin: 50px 0;
}

img{
    width: 60%;
    height: 60%;
    padding: 5px 0;
}