/* Fonts */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rasa", serif;
    font-style: normal;
}

body{
    background-color: #191919;
}

h1{
    background: linear-gradient(90deg, #DFAAC3 24.34%, #F1C9DB 41.54%, #D3B9E8 64.8%, #997DC3 75.56%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    font-family: 'Handjet', sans-serif;
    font-style: normal;
    font-size: clamp(4rem, 8vw, 10rem);

    font-weight: 600;
    line-height: 120%;
    letter-spacing: 4.142px;
    margin-top: 5rem;
    text-align: center;
}

h2{
    color: #e8c2d3;
 
    font-family: "Rasa", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: clamp(2rem, 6vw, 5.3rem);
 
    justify-content: justify;
    text-align: center;
 
    font-weight: 2000;
    line-height: 100%;
    letter-spacing: 5px;
}


/* 5 */
h3 {
    color: #494949;
    text-align: center;
    font-family: 'NanumGothicCoding', monospace;
    font-size: 23.5px;
    font-weight: 1000;
    line-height: 30px; /* Ensures line height matches the font size */
    letter-spacing: 1.0px;
    margin: 0;
    white-space: nowrap;  /* Keeps the text on a single line */
    max-width: 100%;
}

.member-bullet {
    color: #4a4545;
    font-family: 'NanumGothicCoding', monospace;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 150%;
    margin-left: 10%;
    padding: 10px;
}

.event-font{
    display: flex;
    text-align: center;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}


p{
    color: #fff2f2;

    font-size: clamp(0.875rem, 3vw, 1.5rem);
    line-height: clamp(35px, 4vw, 50px);
    letter-spacing: 2px;
    text-align: center;
}

/* we are here to build a community.. */
#introduction-text{
	color: #8F7C49;

    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;

    transform: translateY(50px); 
    animation: slideUp 2s ease forwards; 
}

#about-home{
    padding: clamp(1.5rem, 4vw, 2.5rem) clamp(4rem, 10vw, 10rem);
}




/* Format */
/* introduction-home Container */
.introduction-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.content-container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;
}

/* The learn more button in home */
.learn-more-button{
    color: white;
    background: var(--Button, linear-gradient(90deg, rgba(222, 206, 247, 0.90) 3.7%, rgba(247, 196, 220, 0.90) 99.93%));

    display: flex;
    border-radius: 10px;
    width: 15rem;
    height: 50px;
    padding: 15px;
    
    justify-content: center;
    align-items: center;
    gap: 15px;

    font-size: 1.5rem;
    margin: auto;
}






/* Slide Shows */
.slideshow-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slides {
    display: none; /* hides slides by default */
    width: 100%; /* ensures each slide fills the container */
    height: 100%;
    text-align: center;
}

.slides.active {
    display: block;
}

/* Center the images within each slide */
.slides img {
    width: 100%; /* scales image to container width */
    height: 100%; /* scales image to container height */
    object-fit: cover; /* crops image to fit container without distortion */
    clip-path: inset(80px 10px 80px 0); /* keeps the clipping effect */
    display: block;
    margin: 0 auto;
}

/* Style for the navigation buttons */
.navigation-button {
    background-color: transparent;
    position: absolute;
    top: 50%;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.left-button{
    left: 15%;
    position:absolute;
}

.right-button {
    right: 15%;
    position:absolute;
}

/* Center the navigation dots */
.navigation-dots {
    text-align: center;
    margin-top: -60px;
}

/* Style each dot */
.dots {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dots.active {
    background-color: #717171;
}
