.member-bullet {
    color: #4a4545;
    font-family: 'NanumGothicCoding', monospace;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 150%;
    margin-left: 10%;
    padding: 10px;
}

.event-font{
    display: flex;
    text-align: center;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}

.body-text{
	color: #8F7C49;
    text-align: center;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 1px;

	opacity: 0;
    transform: translateY(50px); 
    animation: slideUp 2s ease forwards; 
}

/* index.html */
.learn-more-button{
    color: white;
    border-radius: 10px;
    background: var(--Button, linear-gradient(90deg, rgba(222, 206, 247, 0.90) 3.7%, rgba(247, 196, 220, 0.90) 99.93%));
    box-shadow: 2px 4px 8px 0px rgba(65, 52, 52, 0.3);
    display: flex;
    width: 160px;
    height: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
}
/* Create Button Hover */

/* Slide Shows */
.slideshow-container{
    /* 
    justify-content: center;
    overflow: hidden; */

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}


.slides {
    display: none; /* hides slides by default */
    width: 100%; /* ensures each slide fills the container */
    height: 100%;
    text-align: center;
}

/* Display active slide */
.slides.active {
    display: block;
}

/* Center the images within each slide */
.slides img {
    width: 100%; /* scales image to container width */
    height: 100%; /* scales image to container height */
    object-fit: cover; /* crops image to fit container without distortion */
    clip-path: inset(80px 10px 80px 0); /* keeps the clipping effect */
    display: block;
    margin: 0 auto;
}

/* Style for the navigation buttons */
.navigation-button {
    background-color: transparent;
    position: absolute;
    top: 50%;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.left-button{
    left: 15%;
    position:absolute;
}

.right-button {
    right: 15%;
    position:absolute;
}

/* Center the navigation dots */
.navigation-dots {
    text-align: center;
    margin-top: -60px;
}

/* Style each dot */
.dots {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dots.active {
    background-color: #717171;
}

/* 4_contact */
.contact-form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px; /* Limits form width */
}

.contact-input{
    color: #4a4545;
    font-family: 'NanumGothicCoding', monospace;
    font-size: 16px;
    width: 100%;
    max-width: 400px; /* Ensures all inputs have consistent width */
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color:#F1C9DB;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #d79cb6 ;
}



