/* Applies to all elements  */
* {
	margin: 0;
	padding: 0;
	box-sizing:border-box
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the wrapper takes the full height of the viewport */
}

/* Ensure the content area can grow and shrink */
.content-container {
    flex: 1; /* Makes the content area take up available space */
    padding-top: 150px;
    display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

/* Header Display*/
header {
	background: linear-gradient(to right, #B39BD6 0%, #e8b8ce 100%);
    position: fixed; /* Make the header always stay on top */
    top: 0; /* Align it to the top of the screen */
    left: 0;
    width: 100%; /* Make the header take up the full width of the screen */
    z-index: 999; /* Ensure it stays above other elements */
    height: 65px; /* Set the height for the header */
}

.header-navigation{
	display: flex;
	height: 65px;
	width: 100%;
	padding: 10px 35px;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: center;
}

.header-logo img{
	height: 150px;
}

.navigations {
	/* don't touch */
	list-style: none;
	display: flex;
	gap: 10px;
	padding: 0px;
}

.navigations li {
    position: relative; 
}

.navigations li a {
    font-family: 'NanumGothicCoding', monospace;
    font-style: normal;
	color: #fff;

	text-align: center;
	text-decoration: none;
	font-weight: 400;
    line-height: 20px;
	border-radius: 4px;
	padding: 10px 25px;	

	transition: background 0.3s ease, color 0.3s ease;  
}

.navigations li a:hover {
	color: #B39BD6; 
	background-color: #FFF;  
    border-radius: 4px;

    transition: background 0.3s ease, color 0.3s ease;  
}

.general-dropdown-menu {
    list-style: none;
    
    display: flex;
    position: absolute;
    top: 215%; 
    left: 0;
    width: 100%;
    height: 550%; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;

    max-height: 0; 
    opacity: 0; 
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}

/* Show dropdown on hover */
.navigations li:hover .general-dropdown-menu {
    max-height: 200px; 
    opacity: 1; 
}

/* Dropdown items */
.general-dropdown-menu li a {
    display: block;
    width: 100%;
    font-family: 'NanumGothicCoding', monospace;
    font-style: normal;
    color: #B39BD6; 
	background-color: #FFF; 
	text-align: center;
    font-weight: 400;
    line-height: 20px;
	border-radius: 4px;
	padding: 10px 15px;
    text-decoration: none;
    
    /* transition: background 0.3s ease;  */

    /*Background setup for gradient transition */
    transition: background-position 0.4s ease, color 0.4s ease; /* Smooth transition */
}

/* Hover effect for dropdown items */
.general-dropdown-menu li a:hover {
    /* color: -webkit-linear-gradient(top, #E8B8CE, #B39BD6); 
    border-radius: 8px;
    padding: 10px 15px;
    transition: background 0.3s ease, color 0.3s ease;  */
    background-position: right bottom; /* Move background gradient to the right */
    color: #d791b6; /* Change text color on hover */
    font-weight: 450;
}
 
/* Footer Container */
footer{
    background: linear-gradient(to right, #B39BD6 0%, #E8B8CE 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 10px 0;
    border-radius: 2px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Follow Us Text */
.follow-text {
    color: #FFF;
    text-align: center;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 30px */
    letter-spacing: 18px;
    margin-top: 25px; 
	margin-bottom: 15px;
}

.social-icons-container{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;	
}

.social-icon {
    flex-shrink: 0;
    background-color: #FFF; /* White background for icons */
    border-radius: 50%; /* Make the icons circular */
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* @Wics Text */
.wics-mark {
    color: #FFF;
    text-align: center;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 15px */
    letter-spacing: 1.5px;
	margin: 20px;
}



/* Animation*/
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}