

/* Footer Container */
footer{
    background: linear-gradient(to right, #B39BD6 0%, #E8B8CE 100%);
    display: flex;
    width: 100%;
    padding: 10px 35px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Follow Us Text */
.follow-text {
    color: #FFF;
    text-align: center;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
    letter-spacing: 18px;
    margin-top: 25px; 
	margin-bottom: 15px;
}

.social-icons-container{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;	
}

.social-icon {
    flex-shrink: 0;
    background-color: #FFF;  
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* @Wics Text */
.wics-mark {
    color: #FFF;
    text-align: center;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;  
    letter-spacing: 1.5px;
	margin: 20px;
}



/* Animation*/
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}