/* Get rid of the bullet points */
ul, li{
    list-style: none;
    position: relative;
}

/* Get rid of the underline */
a{
    text-decoration: none;
}

html, body{
    margin: 0;
    padding: 0;
}


/* Header General Format */
header {
    /* background: linear-gradient(to left, #c1acde 20%, #fcd6ec 100%); */
    background-color: #beaddb;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 115px;
    padding: 0 40px;
    box-sizing: border-box;
    position: sticky;
    top:0;
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Logo and tabs */
.nav-tab-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Logo */
.wics-logo {
    display: flex;
    align-items: center;
    flex-shrink: 0; /* Prevents the logo from shrinking */
}

#header-logo img {
    cursor: pointer;
    width: 16rem;
    height: auto;
}



/* Navigation tabs */
.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

/* Navigation links */
.navigation-bar a {
    /* color: white; */
    color: rgb(86, 87, 92);
    /* Ajust tab fonts */
    font-size: 20px;
    letter-spacing: 1px;
}

.navigation-contents {
    display: flex;    
    align-items: center;
    position: relative;
}


/* Hover effects */
.navigation-link{
    transition: 0.3s ease;
    margin: 30px auto;
}

.navigation-link:hover {
    color: #e7acc6;
}

.nav-tab:hover{
    color: #cf7099;
}

li a:hover{
    color: white;
    /* background-color: white; */
}

/* 7_Hackathon Specific Links */
.hackathon-link{
    transition: 0.3s ease;
    margin: 30px auto;
}

.hackathon-link:hover{
    color: white;
}

ul li a{
    display: block;
    text-align: center;
    padding: 20px 35px;
}

ul li ul.dropdown-menu li a {
    display: block;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
}

.dropdown-menu-container {
    position: relative;
    background-color: transparent;
    border-radius: 8px 8px 0 0; 
}

.dropdown-menu-container > a.nav-tab {
    display: block;
    border-radius: 8px 8px 0 0; 
}

.dropdown-menu-container:hover {
    background-color: white; 
}

ul li ul.dropdown-menu {
    text-align: center;
    justify-content: center;

    position: absolute;
    width: 100%;
    z-index: 999;
    display: none;

    top: 100%;
    left: 0;

    /* background-color: transparent;  */
    transition: background-color 0.3s ease-in-out;
    border-radius: 0 0 8px 8px;
}

ul li ul.dropdown-menu li {
    display: block;
    width: 100%;
}

.dropdown-menu-container:hover ul.dropdown-menu {
    display: block;
    background-color: white;
}



/* 7_Hackathon Register Button*/
#register{
    color: #8b79a5;
    background-color: white; 

    padding: 10px 18px;
    border-radius: 80px;
}

#register:hover{
    color: #c288fb;

    transform: scale(1.10);
}



/* Hamburger Menu Section*/
.hamburger-container{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 35px;  
}

.bar{
    display: block;
    width: 33px;
    height: 3.5px;
    margin: 7px 10px;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: white;
}




/* Mobile Adaption */
@media (max-width: 1000px) {
    
    .hamburger-container{
        display: block; /* Ensure the three bars & x are right */
        flex-direction: column;
        cursor: pointer; /* On top of everything */
        z-index: 1001; /*ensure it's on top*/

        position: fixed;
    }

    /* The x effect */
    .hamburger-container.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger-container.active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }
    .hamburger-container.active .bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }

    .navigation-bar{
        background: linear-gradient(to left, #c9b5e5 20%, #fdcfe9 100%);

        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        position: fixed;

        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;


        transform: translateY(-100%); /* ✅ Initially move it completely off-screen */
        transition: transform 0.5s ease-in-out;
        /* transition: transform 0.5s ease-in-out;
        transform: translateY(0); */
        /* opacity: 0;
        visibility: hidden; */
    }

    navigation-contents{
        margin: 16px 0;
    }

    .navigation-bar.active{
        /* opacity: 1;
        visibility: visible; */
        /* transform: translateY(100%); */
        transform: translateY(0);

    }
}